body {
  overflow: hidden;
}
#third {
  width: 100%;
  height: 100%;

  flex:1;
  animation:strobe 100ms steps(1,end) infinite;
  transition:flex .3s;;
}
@keyframes strobe {
  50% { background:white; color:black; }
}
